[Unit]
Description=Matrix-Facebook bridge
After=synapse.service

[Service]
Restart=always

ExecStart=/usr/bin/python3 -m mautrix_facebook -c /etc/mautrix/facebook/config.yaml -r /etc/mautrix/facebook/registration.yaml

WorkingDirectory=/var/lib/mautrix/facebook

StateDirectory=mautrix/facebook

DynamicUser=true

PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true

DevicePolicy=closed

ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectClock=true
ProtectKernelLogs=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

NoNewPrivileges=yes
LockPersonality=yes

SystemCallFilter=~@mount
[Install]
WantedBy=multi-user.target
